iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
}

.button{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 80px;
    height: 80px;
    background-position: 50% 50%;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    cursor: pointer;
    
}

.bottom-panel-position{
    width: 50%;
    height: 0px;
    position: absolute;
    bottom: 10px;
}

.bottom-panel{
    width: 300px;
    height: 0px;
    position: absolute;
    right: -200px;
    top: -90px;
    display: block;
    
}

.sub-panel{
    width: 300px;
    height: 0px;
    
    
}


#sub_panel_color{
    position: absolute;
    width: 380px;
    right: -110px;
    top: -160px;
    display: none;
}

#sub_panel_process{
    position: absolute;
    right: -170px;
    top: -160px;
    display: none;
}


#color_button {
    margin-top: 0px;
    margin-left: 0px;
    display: none;
    background-image: url('images/colorconfig.png');
}

#process_button{
    margin-left: 100px;
    margin-top: 0px;
    display: none;
    background-image: url('images/surfproc.png');
}

#silver_button{
    margin-left: 10px;
    background-image: url('images/silver.png');
}


#black_button{
    margin-left: 90px;
    background-image: url('images/black.png');
}

#golden_button{
    margin-left: 170px;
    background-image: url('images/golden.png');
}

#champagne_button{
    margin-left: 250px;
    background-image: url('images/champagne.png');
}

#rosegolden_button{
    margin-left: 330px;
    background-image: url('images/rosegolden.png');
}



#drawmill_button{
    margin-left: 10px;
    background-image: url('images/drawmill.png');
}


#cataphoresis_button{
    margin-left: 90px;
    background-image: url('images/cataphoresis.png');
}

#sandblast_button{
    margin-left: 170px;
    background-image: url('images/sandblast.png');
}

#polish_button{
    margin-left: 250px;
    background-image: url('images/polish.png');
}
